#infoTitle,
#contactsTitle {
	display: none;
	height: auto;
	margin: 2rem 0 1.5rem;
}

#njoeInformation,
#njoeContacts {
	display: none;
}

#njoeInformation {
	max-width: 1200px;
	margin: 1rem auto;
	padding: 1rem;
	background-color: rgba(200, 200, 200, .8);
	border-radius: 5px;
	font-size: 1.2rem;
	font-family: "Corbel Light", sans-serif;
}

#njoeInformation pre {
	width: 100%;
	text-align: justify;
}

#njoeContacts {
	max-width: 400px;
	height: auto;
	margin: 10rem auto;
}

#njoeContacts p {
	font-size: 1.8rem;
	font-weight: bold;
	font-family: "Corbel Light", sans-serif;
	color: rgba(200, 200, 200, .8);
	text-align: center;
}