*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.black-background {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(11,11,11,.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#introBackground {
	animation-name: fadeoutbackground;
	animation-duration: .5s;
  	animation-timing-function: linear;
  	animation-delay: 6s;
  	animation-iteration-count: 1;
  	animation-fill-mode: forwards;
}

.loading {
	font-size: 1.5rem;
	font-weight: bold;
	color: #fff;
	font-family: "Corbel Light", sans-serif;
	animation-name: loadinglight;
	animation-duration: 2s;
	animation-timing-function: linear;
  	animation-iteration-count: 3;
}

.loading-circle {
	width: 2rem;
	height: 2rem;
	border-top: 3px solid #ddd;
	border-right: 3px solid #ddd;
	border-bottom: 3px solid #ddd;
	border-left: 3px solid #111;
	border-radius: 50%;
	animation-name: rotatecircle;
	animation-duration: 1s;
	animation-timing-function: linear;
  	animation-iteration-count: 6;
}

body {
	margin: 0;
	padding: 0;
	background-image: url("../images/bgimage1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.header {
	width: 0;
	height: 20rem;
	margin: 10rem auto 1rem;
	border-radius: 10px;
	background-color: rgba(0,0,0,.6);
	box-shadow: -2px 0 25px rgba(0,0,0,.5), 0 2px 25px rgba(0,0,0,.5), 2px 0 25px rgba(0,0,0,.5), 0 -2px 25px rgba(0,0,0,.5);
	overflow: hidden;
	animation-name: slide;
	animation-duration: .5s;
  	animation-timing-function: linear;
  	animation-delay: 6.5s;
  	animation-iteration-count: 1;
  	animation-fill-mode: forwards;
}

.rgb-light-title {
	height: 22%;
	padding: .5rem 0;
	text-align: center;
	font-size: 3rem;
	font-family: Gugi, cursive, sans-serif;
	animation-name: fontrgblight;
  	animation-duration: 45s;
  	animation-iteration-count: infinite;
}

.intro-text {
	width: 96%;
	height: 75%;
	margin: 0 auto;
	padding: 2rem 2rem;
	vertical-align: center;
	border: 1px solid rgba(255,255,255,.3);
	border-radius: 5px;
	color: lime;
	font-size: 1.2rem;
	font-family: "Corbel Light", sans-serif;
}

.hover-text {
	display: none;
	text-align: center;
	vertical-align: center;
}

.white-text {
	color: #ddd;
}

.blue-text {
	color: #00dddd;
}

.red-text {
	color: tomato;
}

.lime-text {
	color: #98FB98;
}

.yellow-text {
	color: #F0E68C;
}

.purple-text {
	color: #9370DB;
}

nav {
	display: flex;
	justify-content: center;
	width: 30rem;
	height: auto;
	margin: 3rem auto 1rem;
}

.nav-list {
	display: flex;
	align-content: baseline;
}

a {
	text-decoration: none;
}

#fbLink, 
#liLink, 
#myInfoLink, 
#myContactsLink {
	width: 3.5rem;
	height: 3.5rem;
	line-height: 3.5rem;
	margin: 0 1.5rem;
	padding: .1rem;
	text-align: center;
	color: #111;
	background-color: rgba(225,225,225,.5);
	font-size: 2rem;
	border-radius: 50%;
	box-shadow: -2px 0 25px rgba(0,0,0,.5), 0 2px 25px rgba(0,0,0,.5), 2px 0 25px rgba(0,0,0,.5), 0 -2px 25px rgba(0,0,0,.5);
	transform: rotateY(-90deg);
	animation-name: rotatey;
	animation-duration: 2s;
  	animation-timing-function: ease;
  	animation-iteration-count: 1;
  	animation-fill-mode: forwards;
}

#myProjectsLink {
	width: 3.5rem;
	height: 3.5rem;
	margin: 0 1.5rem;
	color: rgba(0,0,0,0);
	background-color: rgba(225,225,225,.5);
	background-image: url("../images/mylogo/pcblogoblacknb.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 3rem 3rem;
	border-radius: 50%;
	box-shadow: -2px 0 25px rgba(0,0,0,.5), 0 2px 25px rgba(0,0,0,.5), 2px 0 25px rgba(0,0,0,.5), 0 -2px 25px rgba(0,0,0,.5);
	transform: rotateY(-90deg);
	animation-name: rotatey;
	animation-duration: 2s;
  	animation-timing-function: ease;
  	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

#fbLink:hover, 
#liLink:hover, 
#myInfoLink:hover, 
#myContactsLink:hover {
	color: dodgerblue;
	background-color: #ddd;
}

#myProjectsLink:hover {
	background-color: #ddd;
	background-image: url("../images/mylogo/pcblogonb.png");
}

footer {
	width: 100%;
	height: 8rem;
	position: fixed;
	bottom: 0;
}

.bilboard {	
	max-width: 400px;
	height: auto;
	margin: auto;
	position: relative;
	color: #ddd;
	font-size: 1.1rem;
	font-family: "Corbel Light", sans-serif;
	text-shadow: -2px 0 25px rgba(0,0,0,.5), 0 2px 25px rgba(0,0,0,.5), 2px 0 25px rgba(0,0,0,.5), 0 -2px 25px rgba(0,0,0,.5);
}

.slide1, .slide2, .slide3 {
	width: 100%;
	height: 4rem;
	line-height: 4rem;	
	text-align: center;
	position: absolute;
	animation-duration: 15s;
  	animation-timing-function: ease;
  	animation-delay: 21s;
  	animation-iteration-count: infinite;
  	animation-fill-mode: backwards;
}

.slide1 {
	font-size: 1.6rem;
}

.slide3 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 8rem;
}

.footer-logo {
	color: #ccc;
	font-size: 1.7rem;
}

.main {
	visibility: visible;
}

#sectionBackground {
	display: none;
}

#closeButton {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 2.5rem;
	color: rgba(255,255,255,.3);
	transition: color 1s;
}

#closeButton:hover {
	color: rgba(255,255,255,.8);
}

/*Animation codes*/
#fbLink {
	animation-delay: 14s;
}

#liLink {
	animation-delay: 15s;
}

#myProjectsLink {
	animation-delay: 16s;
}

#myInfoLink {
	animation-delay: 17s;
}

#myContactsLink {
	animation-delay: 18s;
}

.slide1 {	
	animation-name: slideone;
}

.slide2 {
	animation-name: slidetwo;
}

.slide3 {
	animation-name: slidethree;
}

@keyframes fadeoutbackground {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes loadinglight {
	0% {
		color: #ddd;
		text-shadow: none;
	}
	50% {
		color: #fff;
		text-shadow: -2px 0 25px rgba(255,255,255,.5), 0 2px 5px rgba(255,255,255,.5), 2px 0 5px rgba(255,255,255,.5), 0 -2px 5px rgba(255,255,255,.5);
	}
	100% {
		color: #ddd;
		text-shadow: none;
	}
}

@keyframes rotatecircle {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

@keyframes slide {
	0% {
		width: 0;
		border: 0 double rgba(255,255,255,.3);
	}
	100% {
		width: 30rem;
		border: 10px double rgba(255,255,255,.3);
	}
}

@keyframes fontrgblight {
  0% {
  	color: red;
  	text-shadow: -2px 0 5px rgba(255,0,0,.5), 0 2px 5px rgba(255,0,0,.5), 2px 0 5px rgba(255,0,0,.5), 0 -2px 5px rgba(255,0,0,.5);
  }
  12.5% {
  	color: tomato;
  	text-shadow: -2px 0 5px rgba(255,99,71,.5), 0 2px 5px rgba(255,99,71,.5), 2px 0 5px rgba(255,99,71,.5), 0 -2px 5px rgba(255,99,71,.5);
  }
  25% {
  	color: yellow;
  	text-shadow: -2px 0 5px rgba(255,255,0,.5), 0 2px 5px rgba(255,255,0,.5), 2px 0 5px rgba(255,255,0,.5), 0 -2px 5px rgba(255,255,0,.5);
  }
  37.5% {
  	color: lime;
  	text-shadow: -2px 0 5px rgba(0,255,0,.5), 0 2px 5px rgba(0,255,0,.5), 2px 0 5px rgba(0,255,0,.5), 0 -2px 5px rgba(0,255,0,.5);
  }
  50% {
  	color: turquoise;
  	text-shadow: -2px 0 5px rgba(64,224,208,.5), 0 2px 5px rgba(64,224,208,.5), 2px 0 5px rgba(64,224,208,.5), 0 -2px 5px rgba(64,224,208,.5);
  }
  62.5% {
  	color: orchid;
  	text-shadow: -2px 0 5px rgba(218,112,214,.5), 0 2px 5px rgba(218,112,214,.5), 2px 0 5px rgba(218,112,214,.5), 0 -2px 5px rgba(218,112,214,.5);
  }
  75% {
  	color: violet;
  	text-shadow: -2px 0 5px rgba(238,130,238,.5), 0 2px 5px rgba(238,130,238,.5), 2px 0 5px rgba(238,130,238,.5), 0 -2px 5px rgba(238,130,238,.5);
  }
  87.5% {
  	color: magenta;
  	text-shadow: -2px 0 5px rgba(255,0,255,.5), 0 2px 5px rgba(255,0,255,.5), 2px 0 5px rgba(255,0,255,.5), 0 -2px 5px rgba(255,0,255,.5);
  }
  100% {
  	color: red;
  	text-shadow: -2px 0 5px rgba(255,0,0,.5), 0 2px 5px rgba(255,0,0,.5), 2px 0 5px rgba(255,0,0,.5), 0 -2px 5px rgba(255,0,0,.5);
  }
}

@keyframes rotatey {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

@keyframes slideone {
	0% {
		transform: rotateX(-90deg);
	}
	16.67% {
		transform: rotateX(0deg);
	}
	33.33% {
		transform: rotateX(90deg);	
	}
	50% {
		transform: rotateX(90deg);
	}
	66.67% {
		transform: rotateX(90deg);
	}
	83.34% {
		transform: rotateX(90deg);
	}
	100% {
		transform: rotateX(90deg);
	}
}

@keyframes slidetwo {
	0% {
		transform: rotateX(-90deg);
	}
	16.67% {
		transform: rotateX(-90deg);
	}
	33.33% {
		transform: rotateX(-90deg);	
	}
	50% {
		transform: rotateX(0deg);
	}
	66.67% {
		transform: rotateX(90deg);
	}
	83.34% {
		transform: rotateX(90deg);
	}
	100% {
		transform: rotateX(90deg);
	}
}

@keyframes slidethree {
	0% {
		transform: rotateX(-90deg);
	}
	16.67% {
		transform: rotateX(-90deg);
	}
	33.33% {
		transform: rotateX(-90deg);	
	}
	50% {
		transform: rotateX(-90deg);
	}
	66.67% {
		transform: rotateX(-90deg);
	}
	83.34% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(90deg);
	}
}

