#njoeProjectsTitle {
	display: none;
	height: auto;
	margin: 2rem 0 1.5rem;
}

.carousel-main-frame {
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}

.carousel-frame {
	width: 700px;
	height: 350px;
	margin: .5rem 2rem;
	border: 10px double rgba(255,255,255,.3);
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: row-reverse;
}

.carousel-slide {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	animation-duration: 1s;
	animation-timing-function: linear;
  	animation-iteration-count: 1;
  	animation-fill-mode: forwards;
}

.carousel-item {
	max-width: 100%;
	height: auto;
	transition: transform 1s;
}

.carousel-item:hover {
	transform: scale(1.3);
}

#previousButton, #nextButton {
	font-size: 3.5rem;
	color: rgba(225,225,225,.5);
}

#previousButton:hover , #nextButton:hover {
	color: rgba(225,225,225,.9);
}

@media screen and (max-width: 800px) {
	.carousel-main-frame {
		flex-direction: column;
	}
}


@keyframes presentSlideForward {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes nextSlideForward {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes presentSlideBackward {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}

@keyframes previousSlideBackward {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}